.git
.github
.gitignore
.editorconfig
.env
.env.*
!.env.example
node_modules
vendor
cloudflared.exe
tests
_ide_helper.php
_ide_helper_models.php
.phpunit.cache
storage/app/public/photos/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
firmware
